@use "../vars" as *;
@use "kurort_select";
@use "tour_card_sea";
@use "sea_page";

.all_hotel_map {
    height: 300px;
    border-radius: $border_rad;
    overflow: hidden;

    .mainImg {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        object-fit: cover;
        float: left;
    }

    .line {
        float: left;
    }
}

.price_format_information {
    font-size: 12px;
    color: $gray_dark_color;
    margin-top: 5px;
    margin-bottom: 20px;
    p {
        margin: 0;
    }
    ul {
        li {
            margin: 5px 0 0 0;
        }
    }
}

.main_calc_box_counts {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-top: 0;
}

.alenan_calc_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    .field {
        flex-grow: 1;
    }

    .line {
        display: flex;
        gap: 20px;
    }

    .child_input_line {
        display: flex;
        gap: 10px;
    }

    .children-ages {
        width: 100%;
    }

    .dell_icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        stroke: red;
    }

    @media screen and (max-width: 520px) {
        gap: 0;
        flex-direction: column;
    }
}

.alenan_calc_result_box {
    margin-top: 20px;

    .preloader_spinner {
        width: 50px;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .alean_tour_results {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4 {
            margin: 0;
        }

        &__butttons {
            padding: 10px 0;
            .button {
                width: 100%;
            }
        }
        &__line {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: $border_rad;
            box-sizing: border-box;
        }
        &__item {
            display: flex;
            gap: 20px;
            justify-content: space-between;

            & > * {
                flex: 1;
            }

            span {
                font-size: 12px;
                color: $gray_dark_color;
            }

            @media screen and (max-width: 520px) {
                flex-wrap: wrap;
                gap: 5px;
                & > * {
                    width: 48%;
                    flex: unset;
                }

                h4 {
                    word-break: break-all;
                }
            }
        }
    }
}

.sea_way_pay_section {
    table {
        thead {
            th {
                background-color: rgba(114, 183, 176, 0.4);
                color: black;
            }
        }
    }
    h2 {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 780px) {
        .cols {
            flex-direction: column-reverse;
        }
    }
}

.way_price_result {
    font-size: 24px;
    font-family: "Play", sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    color: $blue_light_color;
}
