@use '../vars' as *;
@use 'kurort_select';
@use 'tour_card_sea';

.all_hotel_map {
    height: 300px;
    border-radius: $border_rad;
    overflow: hidden;

    .mainImg {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        object-fit: cover;
        float: left;
    }

    .line {
        float: left;
    }
}