@use "../vars" as *;

.sea_hotel_page_section {
    .cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .col {
            display: flex;
            gap: 20px;
            flex-direction: column;
            max-width: 48%;
            min-width: 48%; // важно для flex
        }
    }

    .sea-hotel-gallery {
        width: 100%;
        max-width: 100%;
        height: 500px;
        overflow: hidden;
        border-radius: $border_rad;

        --swiper-pagination-color: #{$gold_color};
        --swiper-pagination-bullet-inactive-color: #{$gold_color};
        --swiper-pagination-bullet-inactive-opacity: 0.3;
        --swiper-pagination-bullet-size: 10px;
        --swiper-navigation-color: #{$gold_color};
    }

    .sea-hotel-gallery::part(pagination) {
        width: 90%;
        left: 5%;
    }

    .swiper-slide {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .one_hotel_map {
        height: 250px;
        border-radius: $border_rad;
        box-shadow: $box_shadow;
    }

    .hotel_parametrs {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .parametr {
            border: 1px solid $gray_dark_color;
            border-radius: $border_rad;
            padding: 20px 20px 20px 65px;
            position: relative;

            h3 {
                font-size: 22px;
                margin-bottom: 10px;
            }

            .text {
                font-size: 14px;
                line-height: 1.1;
            }

            .icon {
                position: absolute;
                top: calc(50% - 35px);
                left: -35px;
                // transform: translateX(-100%);
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: $gold_color;
                display: flex;
                align-items: center;
                justify-content: center;

                .p_icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    h2 {
        margin-bottom: 20px;
    }

    .hotel_prices {
        .number_tr,
        th {
            background-color: rgba(#72b7b0, 0.4);
            color: $black_color;
        }
    }
}

.schedule_table {
    display: flex;
    flex-direction: column;

    .schedule_row {
        padding: 5px 15px;
        background-color: rgba(#72b7b0, 0.4);

        &:nth-child(2n) {
            background-color: rgba(#72b7b0, 0.2);
        }

        strong {
            font-weight: 700;
        }
    }

    @media screen and (max-width: 780px) {
        font-size: 12px;
    }
}

.sea_grafik_zaezdov_section {
    h2 {
        margin: 20px 0;
    }
    h3 {
        margin-bottom: 10px;
    }

    .puncts {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;

        .punct {
            padding: 5px 10px;
            border-radius: $border_rad;
            background-color: $main_color;
            border: 1px solid $blue_color;
        }

        .arrow {
            line-height: 37px;
            font-size: 20px;
        }

        @media screen and (max-width: 780px) {
            font-size: 12px;

            .arrow {
                line-height: 27px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .sea_hotel_page_section {
        .cols {
            flex-direction: column;
            gap: 20px;

            .col {
                max-width: 100%;
            }
        }

        .sea-hotel-gallery {
            height: 250px;
        }

        .one_hotel_map {
            height: 200px;
        }

        .hotel_parametrs .parametr {
            margin-left: 30px;
            padding: 15px 15px 15px 40px;
            margin-left: 20px;

            h3 {
                font-size: 18px;
            }

            .icon {
                width: 45px;
                height: 45px;
                left: -22px;
                top: 20px;

                .p_icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .schedule .schedule_table .schedule_row {
            font-size: 12px;
        }

        .hotel_prices {
            font-size: 12px;
        }
    }
}
