.param_blk {
    width:280px;
    // height: 124px;
    background-color: #4D4D4D80;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
    margin-left: auto;

    & .ya_logo {
        width: 56px;
        height: 56px;
        background-image: url(../img/icon/yandex.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    & .stars_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 7px 0;

        .star {
            width: 19px;
            height: 19px;
            margin-right: 5px;
            background-image: url(../img/icon/star.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    & .cerecter {
        width: 67px;
        height: 67px;
        line-height: 62px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        font-family: "Play";
        background-image: url(../img/icon/vinok.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    }
}

@media (max-width:768px) {

        .param_blk {
            margin-left: unset;
            width:24%;
            height: 200px;
        }
}

@media (max-width:480px) {

    .param_blk {
        flex-direction: row;
        width: 100%;
        font-size: 12px;
        padding: 10px;
        height: unset;
        & .stars_wrapper {
            margin-top: 0;
        }
        & .cerecter {
            height: 48px;
            width: 48px;
            font-size: 18px;
            line-height: 45px;
            margin-bottom: 0;
        }

        .text_blk {
            margin-left: 20px;
        }

        & > p {
            flex:1;
            margin-left: 20px;
        }
    }
}

