.banner_video {
    padding: 0;
    position: relative;
    width: 100wh;
    height: 100vh;

    &.mini {
        height: auto;
        .left_text {
            height: auto ;
            padding: 30px 0;
        }
    }
    ._video {
        position: absolute;
        // right: 0;
        // bottom: 0;
        // min-width: 100%;
        // min-height: 100%;
        z-index: 1;

        object-fit: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .shadow {
        width:100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        background-color: black;
        opacity: .55;
    }

    .left_text {
        position: relative;
        z-index: 3;
        color: white;
        height: calc(100vh - 89px);
        display: flex;
        .bnr_text {
            width:46%;
            flex: 1;
            margin: auto 3% auto 0;
        }

        .dop_param {
            flex:1;
            margin: auto 0;
            position: relative;
            flex-direction: column;
            display:  flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;

            .cat_banner_buttons {
                margin-left: auto;
                min-width: 400px;
            }

            .arrow_widget {
                position: absolute;
                top: calc(50% - 45px);
                left: 10%;
                position: absolute;
                .arrow {
                    position: absolute;
                    top: -15px;
                    left: 40px;
                    z-index: 3;
                    width: 100px;
                    height: 90px;
                    display: flex;
                    justify-content: space-between;
                    background: url('../img/icon/header_arrow_white.svg');
                    background-size: contain;
                    background-repeat: no-repeat;

                    animation-duration: 2.5s;
                    animation-name: animation_rotate;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-fill-mode:none;

                }



                span {
                    position: absolute;
                    top: 61px;
                    left: -20px;
                    font-family: 'Play';
                    color:$main_color;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 22px;
                    transform: rotate(30deg);
                    display: flex;

                    animation-duration: 2.5s;
                    animation-name: animation_rotate_2;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-fill-mode:none;

                }

                @keyframes animation_rotate {
                    0% {
                        transform: rotate(0deg);
                    }

                    50% {
                        transform: rotate(10deg);
                    }

                    100% {
                        transform: rotate(0deg);
                    }
                }

                @keyframes animation_rotate_2 {
                    0% {
                        transform: rotate(30deg);
                    }

                    50% {
                        transform: rotate(25deg);
                    }

                    100% {
                        transform: rotate(30deg);
                    }
                }
            }

        }
    }

    .marque_wrap {
        position: absolute;
        background-color: $black_color;
        bottom: 0;
        width:100%;
        height: 30px;
        padding: 5px 0;
        overflow: hidden;
        z-index: 3;
        border-top: 1px dashed $main_color;
        border-bottom: 1px dashed $main_color;

        .marque {

            display: flex;


            .str {
                font-size: 22px;
                font-family: 'Play';
                margin: auto 10px;
                white-space: nowrap;
                color:$main_color;
            }
        }
    }
}

.tour_page_title {
    .bnr_text {
        display: flex;
        flex-direction: column;

        .label,
        .button{
            margin-right: auto;
        }

        .label {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }
}

@media (max-width:1024px) {
    .banner_video .left_text .dop_param .arrow_widget {
        left: -13%;

        span {
            font-size: 18px;
            left: 15px;
        }
    }
}

@media (max-width:768px) {
    .banner_video {
        .left_text {
            flex-direction: column;
            height: auto;
            .bnr_text {
                width: 100%;
                margin: 20px 0;
                flex:unset
            }

            .dop_param {
                padding-top: 100px;
                .cat_banner_buttons {
                    width: 100%;
                }

                .arrow_widget {
                    left:calc(50% - 40px);
                    top:0;

                    span {
                        left: -55px;
                        top: 40px;
                        transform: rotate(10deg);
                        animation-name: animation_rotate_2_mobile;
                    }

                    .arrow {
                        top:10px;
                        left:70px;
                        transform: rotate(30deg);
                        animation-name: animation_rotate_mobile;
                    }


                @keyframes animation_rotate_mobile {
                    0% {
                        transform: rotate(30deg);
                    }

                    50% {
                        transform: rotate(40deg);
                    }

                    100% {
                        transform: rotate(30deg);
                    }
                }

                @keyframes animation_rotate_2_mobile {
                    0% {
                        transform: rotate(10deg);
                    }

                    50% {
                        transform: rotate(5deg);
                    }

                    100% {
                        transform: rotate(10deg);
                    }
                }

                }
            }
        }
    }

    .banner_video .left_text .dop_param {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width:480px) {

        .img_5,
        .img_6 {
            display: none;
        }

        .banner_video {
            min-height: 100vh;
            height: auto;

            &.mini {
                min-height: unset;
            }

            .left_text  {
                height: auto;
                padding-bottom: 20px;
                .dop_param {
                    gap:20px;
                    height: auto;

                    .cat_banner_buttons {
                        min-width: unset;
                    }
                }
        }
    }
}
