@use "vars" as *;

.slider_main {
    position: relative;
    width: 100%;
    margin-left: 100px;
    width: 480px;
    height: 250px;
    border-radius: $border_rad;
    overflow: hidden;
    box-shadow: $box_shadow;
    flex-shrink: 0;
    margin-left: auto;

    .banner-main-slider {
        width: 100%;
        height: 100%;

        --swiper-pagination-color: #{$gold_color};
        --swiper-pagination-bullet-inactive-color: #{$gold_color};
        --swiper-pagination-bullet-inactive-opacity: 0.3;
        --swiper-pagination-bullet-size: 10px;
        --swiper-navigation-size: 28px;
        --swiper-navigation-color: #{$gold_color};
    }

    swiper-slide {
        height: 100%;
    }
}

.banner-main-slider__slide {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}

.banner-main-slider__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-main-slider__overlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 80%);
}

.banner-main-slider__title {
    position: absolute;
    bottom: 35px;
    left: 20px;
    z-index: 3;

    h2 {
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    @media (max-width: 820px) {
        font-size: 18px;
        // left: 16px;
    }

    @media (max-width: 520px) {
        font-size: 15px;
        // left: 12px;
    }
}

@media (max-width: 1380px) {
    .slider_main {
        width: 440px;
    }
}

@media (max-width: 768px) {
    .banner_video .dop_param .slider_main {
        margin: 0 auto;
        height: 220px;
        width: calc(80% + 20px);
    }
}

@media (max-width: 480px) {
    .banner_video .dop_param .slider_main {
        width: calc(90% + 20px);
    }

    .banner-main-slider__overlay {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
    }
}
