.banner_video {
    padding: 0;
    position: relative;
    width: 100wh;
    height: 100vh;

    ._video {
        position: absolute;
        // right: 0;
        // bottom: 0;
        // min-width: 100%;
        // min-height: 100%;
        z-index: 1;

        object-fit: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .shadow {
        width:100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        background-color: black;
        opacity: .55;
    }

    .left_text {
        position: relative;
        z-index: 3;
        color: white;
        height: calc(100vh - 89px);
        display: flex;
        .bnr_text {
            width:46%;
            flex: 1;
            margin: auto 3% auto 0;
        }

        .dop_param {
            flex:1;
            margin: auto 0;
            position: relative;
            flex-direction: column;
            display:  flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;

            .cat_banner_buttons {
                margin-left: auto;
            }
        }
    }
}

.tour_page_title {
    .bnr_text {
        display: flex;
        flex-direction: column;

        .label,
        .button{
            margin-right: auto;
        }

        .label {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }
}

@media (max-width:768px) {
    .banner_video {
        .left_text {
            flex-direction: column;

            .bnr_text {
                width: 100%;
                margin: 20px 0;
                flex:unset
            }

            .dop_param {
                .cat_banner_buttons {
                    width: 100%;
                }
            }
        }
    }

    .banner_video .left_text .dop_param {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width:480px) {

        .img_5,
        .img_6 {
            display: none;
        }

        .banner_video {
            min-height: 100vh;
            height: auto;
            .left_text  {
                height: auto;
                padding-bottom: 20px;
                .dop_param {
                gap:20px;
                height: auto;
            }
        }
    }
}
