@use 'vars' as *;

.black_friday {
    background-color: $gold_color;
    color: $black_color;
    height: 30px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}
marquee {
    display: flex;
    // align-items: center;
}

.marquee__content {
    display: flex;
    animation: scroll 30s linear infinite;
}

.marquee__content p {
    font-family: "Play";
    font-size: 18px;
    margin: 0 20px;
}

.marquee__content img {
    width: 35px;
    height: 30px;
}

@media screen and (max-width:512px) {
    .marquee__content {
        animation: scroll_mobile 30s linear infinite;
    }
}

// Определение анимации
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-25%);
    }
}
// Определение анимации
@keyframes scroll_mobile {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-200%);
    }
}
