header {
    position: relative;
    z-index: 3;
    padding: 0%;

    a{
        color: white;
    }

    .container {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;
    }

    .hed_phone {
        margin: auto 0 auto 0;
    }
}

@media (max-width:768px) {
    header{
        .nav_menu {
            display: none;
        }
        .container {
            justify-content: start;
            border: none;

        }

        .hed_phone {
            margin: auto 0 auto auto;
        }
    }
}
