@use 'vars' as *;

.instruction_steps {
    height: 70vh;
    overflow-y: auto;

    .instruction_steps_wrap {
        margin-right: 10px;
    }

    img{
        height: unset;
        width: unset;
        border: 1px solid $blue_light_color;
        border-radius: $border_rad;
        margin: 10px 0;
    }
}


.instruction_lnk {
    display: flex;
    gap:5px;
    font-size: 12px;
    color: $blue_light_color;
    margin-top: 10px;
    position: absolute;
    right: 20px;
    top:15px;

    &:hover {
        text-decoration: underline;
    }
    & > * {
        margin-top: auto;
        margin-bottom: auto;
    }
    .sprite_icon {
        width: 13px;
        height: 13px;
        fill: $blue_light_color;
    }
}


@media (max-width:768px) {
    .instruction_lnk {
        top:45px
    }
}
