@use 'vars' as *;

.instruction_steps {
    height: 70vh;
    overflow-y: auto;

    .instruction_steps_wrap {
        margin-right: 10px;
    }

    img{
        height: unset;
        width: unset;
        border: 1px solid $blue_light_color;
        border-radius: $border_rad;
        margin: 10px 0;
    }
}


.scrollable {
  will-change: scroll-position;
  touch-action: auto;
  overscroll-behavior: contain;
}
