.location_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .location{
        width:22%;
        margin-bottom: 20px;
        .img{
            width: 255px;
            height: 255px;
            border-radius: 20px;
            overflow: hidden;
        }

    }
}

@media (max-width:1024px) {
    .location_wrapper .location {
        width:30%;

        .img {
            width:100%;
            height: unset;
        }
    }
}


@media (max-width:768px) {
    .location_wrapper .location {
        width:48%;
        margin-bottom: 10px;
        h3 {
            font-size: 14px;
        }
    }
}
