.about_tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 40px 0;
    h2 {
        font-size: 52px;
        margin-top: 0;
    }
    .text {
        width:50%;
        .subtitle {
            margin-bottom: 40px;
        }
    }

    .el {
        flex:1;
        position: relative;
        .turists {
            width:36%;
            height: auto;
            position: absolute;
            left:10%;
            top:5%;
        }

        .buss {
            width:45%;
            // transform: scale(-1, 1);
            height: auto;
            position: absolute;
            left:50%;
            top:15%;
        }
    }
}

.all_tour_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Play';
    gap:30px;
    overflow: hidden;
    padding: 15px;
    z-index: 10;




    &.greed {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
        align-items: stretch;

        gap:30px;

       .tour_card {
            width:100%;
            height: 100%;
            justify-self: stretch;
            align-self: center;
        }
    }
}


.tour_card {
    overflow: hidden;
    width: 30%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: $box_shadow;
    .img {
        position: relative;
        height: 240px;
        .price_label {
            position: absolute;
            right: 10px;
            top:10px;
        }
    }

    .text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex:1;
        h3 {
            margin-top: 0;
        }
        button {
            margin-top: auto;
        }
    }

    .m_data {
        display: flex;
        gap:10px;
        flex-wrap: wrap;
        .label {
            margin-right: UNSET;
        }
    }

    .label {
        margin-right: auto;
        margin-bottom: 10px;
    }
}

swiper-container {
    .tour_card {
        width:100%;
        box-shadow: none;
        border: 1px solid $gray_border_color;
    }
}


@media (max-width:1024px) {
    .all_tour_wrapper {

        &.greed {
            grid-template-columns: repeat(2, 1fr);
        }
    }


    .tour_card {
        width:46%
    }
}

@media (max-width:768px) {
    .about_tours .text {
        width: 65%;
    }
}

@media (max-width:480px) {
    .about_tours {
        flex-direction: column;
        .text {
            width: 100%;
            h2 {
                font-size: 32px;
            }
        }
        .el {
            flex: unset;
            height: 150px;
            margin-top: 30px;
        }
    }

    .all_tour_wrapper {
        padding: 2px;


        &.greed {
            gap:20px;
        }
    }

    .tour_card  {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
        .text {
            padding: 10px;
            h3{ font-size: 16px;}
        }
        .img {
            height: 180px;
        }

        .m_data {
            flex-direction: column;
            margin-bottom: 10px;
            .label {
                margin: 0 auto 0 0;
            }
        }


    }
}

@media (max-width:375px) {

    .all_tour_wrapper {


        &.greed {
            gap:10px;
        }
    }

    .tour_card  {
        width: 45%;
    }
}
