
// $main_color: #31708E;
// $hover_color: #659DBD;
$gold_color: #FFDE00;
$main_color: #FEFA17;
$hover_color: #14b814;
$sub_color: #5aa495;
$black_color: #050B20;

$gray_bg_color:#F7F7F7;
$gray_bg_color_y:#FCFCF3;
$gray_border_color:#E4E6E8;
$gray_dark_color:#737373;

$tifany_color: #ECF8F6;

$blue_color:rgba(119, 191, 163, 0.11);
$blue_light_color:#053168;

$main_transition: all .5s ease;

$main_fonts:'Lato', sans-serif;

$border_rad: 10px;

$section_space: 20px;
$conteiner_max_w: 1280px;

$box_shadow: 0 0 17px 1px rgba(0, 0, 0, 0.25);
$box_padding: 1.25rem;
$box_border_rad: 6px;
