@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "pagination";
@import "standart";
@import "form/all-form";
@import "elements/all-elements";
@import "preloader";

body{
    font-family: $main_fonts;
    font-size: 16px;
    color: $black_color;

    a{
        color:$black_color;
    }
}

img {
    width:100%;
    height:100%;
    object-fit: cover;
}
h2,h3,h4 {
    font-family: 'Play';
}

h2 {
    font-size: 28px;
}

.logo {
    img {
        object-fit: contain;
    }
}

header,
footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}

h1 {
    font-size: 46px;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Play';
    span {
        font-size: 52px;
    }
}

.h2_in_page {
    font-size: 42px;
}

.download_btn {
    border: 1px solid $gray_border_color;
    padding: 10px 80px 10px 30px;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    span{
        text-align: left;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width:45px;
            height:45px;
            border-radius: 55px;
            background-color: $main_color;
            top: -6px;
            right: -74px;
            background-image: url(../img/icon/download.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
        }
    }

    &:hover {
        span::after {
            content: "";
            background-color: $hover_color;
        }
    }


}

.central_section {
    text-align: center;
}

.in_tur {
    .container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

.gold{
    color: $gold_color;
}


.in_tur {
    .wrapper  {
        width: 100%;
        margin: 0 auto;
    }
}

.label {
    line-height: 1;
    background-color: $main_color;
    padding: 5px 20px;
    color: $black_color;
    font-size: 14px;
    border-radius: 20px;
    font-family: "Play";
    &_white {
        background-color: white;
    }

    &_blue {
        background-color: $blue_light_color;
        color:white
    }
}

.rub_icon {
    display: block;
    width:20px;
    height:20px;
    background-image: url('../img/icon/ruble.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.babl_icon {
    display: block;
    width:20px;
    height:20px;
    background-image: url('../img/icon/babl.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search_icon {
    display: block;
    width:20px;
    height:20px;
    background-image: url('../img/icon/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn_wrapper {
    display: flex;
    gap: 10px;
}

@media (max-width:1280px) {
    .container{
        width:96%;
        margin: 0 2%;
    }
}

@media (max-width:1024px) {
    h1{
        font-size: 38px
    }
    h2 {
        font-size: 24px;
    }
}

@media (max-width:768px) {
    h1{
        font-size: 28px;
        span{
            font-size: 32px;
        }
    }
    h2 {
        font-size: 20px;
        // br {
        //     display: none;
        // }
    }

    .in_tur {
        .container {
            width: 96%;
        }

        .wrapper  {
            width: 100%;
        }
    }
}

swiper-container{
    display: flex;
}

swiper-slide{
    display: flex;
    height: auto
}


.arrow_button {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 0.5px solid $blue_light_color;
    background-color: $blue_light_color;
    display: flex;
    svg {
        width: 35%;
        height: 35%;
        stroke: $gray_border_color;
        margin: auto;
    }
    &:hover {
        background-color: $sub_color;
        border-color: $sub_color;
        svg {
            stroke: white;
        }
    }

    &.arrow_pred {
        transform: rotate(180deg);
    }
}

@import "header";
@import "menues";
@import "banner";
@import "adv";
@import "banner_new";
@import "about";
@import "tur_content";
@import "persons";
@import "locations";
@import "program";
@import "contacts";
@import "footer";
@import "ng_tour";
@import "tour_page";
@import "palaroid";
@import "tour_program";
@import "program_in_tap";
@import "review";
@import "calendar";

