<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^mirturizma46\.ru$ [NC]
    RewriteRule ^ https://www.mirturizma46.ru%{REQUEST_URI} [R=301,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

Redirect 301 /tours/mai /tours/may
Redirect 301 /turi-na-more /tury-na-more
Redirect 301 /ceny-na-proezd-krym-krasnodarskij-kraj /tury-na-more/kupit-proezd
Redirect 301 /minsk-na-noyabrskie-prazdniki /tour/belarus
Redirect 301 /tur-v-belarus-na-majskie-prazdniki-2023 /tour/belarus
Redirect 301 /tula-na-majskie-prazdniki-iz-kurska /tour/tula
Redirect 301 /shkolnye-tury /school-tours
Redirect 301 /park-loga-iz-kurska /tours/may
Redirect 301 /moskva-park-patriot-den-narodnogo-edinstva /tour/moskva
Redirect 301 /kudikina-gora-park-razvlechenij /tour/kudykina-gora
Redirect 301 /gostevoj-dom-mig /tury-na-more
Redirect 301 /gastrotur-lipeck-kofe-khleb-vino /tour/gastro-tur
Redirect 301 /avtobusnye-tury-v-alushtu /tury-na-more/region/crimea
Redirect 301 /alpaka-park-haski-okeanarium /tour/alpaka-park
Redirect 301 /adygeya-iz-kurska /tour/adygea
Redirect 301 /volgograd-iz-kurska /tour/volgograd
Redirect 301 /tur-v-minsk-iz-kurska /tour/belarus
Redirect 301 /lavandovaya-ferma-usadba-feta /tour/provans
Redirect 301 /ekskursionnye-tur-v-tulu-gorod-oruzhejnikov-pryanikov-i-samovarov /tour/tula
Redirect 301 /ekskursionnye-tury /tours/may
Redirect 301 /ledovoe-shou-shaherezada-v-moskve /tour/novogodnee-ledovoe-sou-tatiany-navka
Redirect 301 /avtobusnye-tury-v-gurzuf /tury-na-more/region/crimea
Redirect 301 /baza-otdyxa-u-morya-lermontovo /tury-na-more/lermontovo
